*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background-color: 
  /* rgba(0, 0, 255, 0.402) */
  rgb(161, 221, 229)
  ;
  color: rgb(96, 0, 128);
}

main{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}