header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;  
  display: flex;
  z-index: 999;
  padding: 15px;

  border-bottom: 1.5px solid rgb(96, 0, 128);
  border-radius: 5px;

  background-color: 
  /* rgba(0, 0, 255, 0.402) */
  rgb(161, 221, 229)
  ;
}
nav{
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;   
}
nav > div{
  border: 2px solid rgb(96, 0, 128);
}