header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;  
  display: flex;
  z-index: 999;
  padding: 15px;

  border-bottom: 1.5px solid rgb(96, 0, 128);
  border-radius: 5px;

  background-color: 
  /* rgba(0, 0, 255, 0.402) */
  rgb(161, 221, 229)
  ;
}
nav{
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;   
}
.left-nav{
  padding-left: 5px;
}
.right-nav{
  display: flex;
  /* width: 20px; */
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium';
  cursor: pointer;
}
.right-nav div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.right-nav img{
  color: blue;
}
.right-nav > div:hover{
  color: blueviolet;
  border: 1.5px solid;
  padding: 2px 7px;
  border-radius: 2px;
  transition: .3s;
}