*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background-color: 
  /* rgba(0, 0, 255, 0.402) */
  rgb(161, 221, 229)
  ;
  color: rgb(96, 0, 128);
}
section{
 margin-top: 100px; 
 display: grid;
}
.side-nav{
  background-color: rgb(10, 206, 223); 
  bottom: 0;
  top: 0;
  position: fixed;
  padding-top: 105px;
  width: 170px;

}
.side-nav div{
  margin-bottom: 20px;
  padding: 10px;
}
main{
  display: flex;
  flex-direction: column;
  margin-left: 145px;
  /* padding: 15px; */
}
.campSection{
  margin-bottom: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.campHead{
  background-color: white;
  /* width: 100%; */
  text-align: center;
  padding: 5px 1px;
  font-family: 'Arial Black';
}
.campBody{
  margin-left: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
