section{
  display: grid;
  border: 2px solid blue;
  margin-top: 100px;
  grid-template-columns: 200px 1fr;
  color: white;
}
.side-nav, main{
  border: 2px solid saddlebrown;
  height: 100vh;
}
.side-nav{
  position: fixed;
  left: 0;
  top: 20px;
  bottom: 0;
  background-color: black;
}