body{
  background-color: rgba(0, 0, 255, 0.324);
  padding: 90px 10px 10px 10px;
}
header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: grid;
  justify-content: right;
  align-items: center;
  grid-template-rows: 100px 1fr 1fr;
}
.container{
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  min-width: 300px;
  max-width: 700px;
  justify-content: center;
  /* border: 1px solid ; */
  padding: 15px;
}
.card{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px blue;
  transition: box-shadow 500ms;
}
.card:hover{
  box-shadow: 2px 2px 20px blue;
}
img{
  width: 100%;
  border-radius: 5px;
}
.description{
  display: flex;
  justify-content: center;
  align-items: center;
}