* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #003366;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}


.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.userid {
  font-size: 12px;
  color: gray;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 25px;
border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  color: #003366;
  margin-bottom: 10px;
}